/* ********** Reset styles ********** */
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
}



/* ********** Menu styles ********** */

/* Versión 1 */
/* .menu {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  align-content: center;
  grid-template-areas: 
  "about about projects projects"
  "about about posts    contact";
  background-color: #c32358;
}

.menu .tile {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.about-tile {
  grid-area: about;
}

.projects-tile {
  grid-area: projects;
}

.posts-tile {
  grid-area: posts;
}

.contact-tile {
  grid-area: contact;
}

.menu .tile a {
  text-decoration: none;
  text-transform: uppercase;
}

.menu .tile .front,
.menu .tile .back {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.menu .tile .front {
  padding: 20px;
  background-color: #000;
  transition: margin-top .3s ease;
  background-size: cover;
  background-position: center center;
}

.menu .tile .back {
  font-weight: bold;
  font-size: 28px;
  background-color: #222;
}

.menu .tile:hover .front {
  margin-top: -100%;
}

.menu .projects-tile:hover .front {
  margin-top: -50%;
}

.menu .about-tile .front {
  background-image: url(img/profile.png);
}

.menu .projects-tile .front {
  background-image: url(img/work-01.png);
}

.menu .posts-tile .front {
  background-image: url(img/work-02.png);
}

.menu .contact-tile .front {
  background-image: url(img/work-03.png);
} */

/* Versión 2 */
.menu {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  align-content: center;
  grid-template-areas: 
    "about about projects projects"
    "about about posts    contact";
  background-color: #c32358;
}

.menu .tile {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.about-tile {
  grid-area: about;
}

.projects-tile {
  grid-area: projects;
}

.posts-tile {
  grid-area: posts;
}

.contact-tile {
  grid-area: contact;
}

.menu .tile a {
  text-decoration: none;
  text-transform: uppercase;
}

.menu .tile .front,
.menu .tile .back {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  backface-visibility: hidden;
}

.menu .tile .back {
  font-weight: bold;
  font-size: 28px;
  background-color: #222;
  transform: translateY(100%);
}

.menu .tile .front {
  padding: 20px;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.menu .tile:hover .front {
  transform: translateY(-100%);
}

.menu .tile:hover .back {
  transform: translateY(0);
}

.menu .about-tile .front {
  background-image: url(img/profile.png);
}

.menu .projects-tile .front {
  background-image: url(img/work-01.png);
}

.menu .posts-tile .front {
  background-image: url(img/work-02.png);
}

.menu .contact-tile .front {
  background-image: url(img/work-03.png);
}



/* ********** About styles ********** */
.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.about .tile {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  padding: 40px;
  background-color: #eee;
  border-radius: 10px;
}

.about .tile-1 {
  grid-column: 1/2;
}

.about .tile-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.about .tile-3 {
  grid-column: 3/4;
}

.about .tile-4 {
  grid-column: 1/2;
}

.about .tile-5 {
  grid-column: 3/4;
}

.tile h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tile img {
  margin-top: 20px;
}

.tile-1 img,
.tile-5 img {
  /* width: 200px; */
  width: 50%;
}

.tile-2 img {
  /* width: 400px;
  height: 400px; */
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  object-fit: cover;
}

.tile-3 img, 
.tile-4 img {
  /* width: 300px; */
  width: 60%;
}



/* ********** Projects styles ********** */
.projects {  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "main-photo main-photo main-photo photo-2  photo-2  photo-2  photo-3  photo-3  photo-4  photo-4"
    "main-photo main-photo main-photo photo-2  photo-2  photo-2  photo-3  photo-3  photo-4  photo-4"
    "main-photo main-photo main-photo photo-2  photo-2  photo-2  photo-5  photo-17 photo-4  photo-4"
    "main-photo main-photo main-photo photo-7  photo-7  photo-6  photo-6  photo-6  photo-9  photo-9"
    "main-photo main-photo main-photo photo-7  photo-7  photo-6  photo-6  photo-6  photo-9  photo-9"
    "main-photo main-photo main-photo photo-7  photo-7  photo-8  photo-8  photo-8  photo-8  photo-8"
    "main-photo main-photo main-photo photo-10 photo-10 photo-8  photo-8  photo-8  photo-8  photo-8"
    "main-photo main-photo main-photo photo-10 photo-10 photo-11 photo-11 photo-11 photo-12 photo-12"
    "main-photo main-photo main-photo photo-13 photo-14 photo-11 photo-11 photo-11 photo-12 photo-12"
    "main-photo main-photo main-photo photo-15 photo-16 photo-11 photo-11 photo-11 photo-12 photo-12";
    padding: 10px;
    gap: 10px;
    background-color: #000;
}

.projects .tile {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.projects .tile:not(.main-photo) {
  transition: transform .1s ease-in, opacity .1s ease-in;
  opacity: .8;
}

.projects .tile:hover:not(.main-photo) {
  transform: scale(1.01);
  opacity: 1;
}

.projects .tile a {
  display: grid;
  height: 100%;
}

.main-photo { 
  grid-area: main-photo; 
  padding: 20px;
  color: #fff;
  font-size: 20px;
  background-image: url(img/work-17.png);
}

.main-photo h2,
.main-photo div {
  display: inline-block;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
}

.photo-2 { 
  grid-area: photo-2;
  background-image: url(img/work-01.png); 
}

.photo-3 { 
  grid-area: photo-3; 
  background-image: url(img/work-02.png); 
}

.photo-4 { 
  grid-area: photo-4; 
  background-image: url(img/work-03.png);
}

.photo-5 { 
  grid-area: photo-5; 
  background-image: url(img/work-04.png);
}

.photo-6 { 
  grid-area: photo-6; 
  background-image: url(img/work-05.png);
}

.photo-7 { 
  grid-area: photo-7; 
  background-image: url(img/work-06.png);
}

.photo-8 { 
  grid-area: photo-8; 
  background-image: url(img/work-07.png);
}

.photo-9 { 
  grid-area: photo-9;
  background-image: url(img/work-08.png); 
}

.photo-10 { 
  grid-area: photo-10; 
  background-image: url(img/work-09.png);
}

.photo-11 { 
  grid-area: photo-11; 
  background-image: url(img/work-10.png);
}

.photo-12 { 
  grid-area: photo-12; 
  background-image: url(img/work-11.png);
}

.photo-13 { 
  grid-area: photo-13; 
  background-image: url(img/work-12.png);
}

.photo-14 { 
  grid-area: photo-14; 
  background-image: url(img/work-13.png);
}

.photo-15 { 
  grid-area: photo-15;
  background-image: url(img/work-14.png); 
}

.photo-16 { 
  grid-area: photo-16; 
  background-image: url(img/work-15.png);
}

.photo-17 { 
  grid-area: photo-17; 
  background-image: url(img/work-16.png);
}



/* ********** Posts styles ********** */
.posts {
  display: grid;
  /* grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 350px); */
  grid-template: repeat(2, 300px)/repeat(3, 350px);
  justify-content: center;
  align-content: center;
  gap: 10px;
  /* padding: 10px; */
  background-color: #42baff;
}

.posts .post {
  display: grid;
  align-items: end;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  overflow: hidden;
}

.posts .post a {
  color: #fff;
  text-decoration: none;
}

.posts .post .title {
  padding: 10px;
  color: #fff;
  background-color: #000000b3;
  transition: color .3s ease, background-color .3s ease;
}

.posts .post .title:hover {
  color: #000000b3;
  background-color: #fff;
}

.posts .post-1 {
  background-image: url(img/work-05.png);
}

.posts .post-2 {
  background-image: url(img/work-02.png);
}

.posts .post-3 {
  background-image: url(img/work-09.png);
}

.posts .post-4 {
  background-image: url(img/work-15.png);
}

.posts .post-5 {
  background-image: url(img/work-12.png);
}

.posts .post-6 {
  background-image: url(img/work-16.png);
}



/* ********** Contact styles ********** */
.contact {
  display: grid;
  grid-template: auto 100px / 700px;
  background-color: #1a4897;
  justify-content: center;
  align-content: center;
}

.contact form {
  display: grid;
  grid-template: auto / auto;
  align-items: center;
  gap: 15px;
  padding: 20px;
  color: #fff;
}

.contact h2 {
  text-transform: uppercase;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 20px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

.contact form input[type="submit"] {
  font-weight: bold;
  font-size: 28px;
  background-color: #67ca50;
}

