html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100vh;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  align-content: center;
  grid-template-areas: 
  "about about projects projects"
  "about about posts    contact";
  background-color: rgb(195, 35, 88);
}

.menu .tile {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.menu .tile a {
  text-decoration: none;
  text-transform: uppercase;
}

.menu .tile .front {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: #fff;
  background-color: #000;
  transition: all .3s ease;
}

